
body {
    height: 100%;
    margin: 0;
    font-family: 'Courier New', cursive;
    background: linear-gradient(135deg, #425c77, #1b2c4f);
    background-color: #142b58;
    height: 265vh;
}

